# IF3170 Artificial Intelligence | EDA Assignement

This notebook serves as a template for the assignment. Please create a copy of this notebook to complete your work. You can add more code blocks if needed.

Group Number: xx

Group Members:
- Shafiq Irvansyah (13522003)
- Rayendra Althaf (13522107)

## Import Libraries

In [23]:
import pandas as pd
import numpy as np
from IPython.display import display, Markdown, HTML

# Import other libraries if needed

## Import Dataset

In [ ]:
# Example of reading a csv file from a gdrive link

# Take the file id from the gdrive file url
# https://drive.google.com/file/d/1ZUtiaty9RPXhpz5F2Sy3dFPHF4YIt5iU/view?usp=sharing => The file id is 1ZUtiaty9RPXhpz5F2Sy3dFPHF4YIt5iU
# and then put it in this format:
# https://drive.google.com/uc?id={file_id}
# Don't forget to change the access to public

df = pd.read_csv('https://drive.google.com/uc?id=1ZUtiaty9RPXhpz5F2Sy3dFPHF4YIt5iU')
df.head()

,state,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,service,sload,dload,spkts,dpkts,id
0,FIN,0.121478,258,172,252,254,0,0,-,14158.942380,8495.365234,6,4,1
1,FIN,0.649902,734,42014,62,252,2,17,-,8395.112305,503571.312500,14,38,2
2,FIN,1.623129,364,13186,62,252,1,6,-,1572.271851,60929.230470,8,16,3
3,FIN,1.681642,628,770,62,252,1,3,ftp,2740.178955,3358.622070,12,12,4
4,FIN,0.449454,534,268,254,252,2,1,-,8561.499023,3987.059814,10,6,5

In [13]:
# baca File Local


# Baca File Online
df_additional_features = pd.read_csv('https://drive.google.com/uc?id=1taseKIHMVlt_6Kv-4r1PQmZaHE4ih7hR')
df_basic_features = pd.read_csv('https://drive.google.com/uc?id=1lVY2fg-dLYeNYNiJNDawummPbLzS3GzJ')
df_content_features = pd.read_csv('https://drive.google.com/uc?id=1IcMvL5GIl0L4F1XXHg3lZu3zlv9O1nYm')
df_flow_features = pd.read_csv('https://drive.google.com/uc?id=1u0UT7sYePMbbxib7uQn9xE__zbDejEqB')
df_labels = pd.read_csv('https://drive.google.com/uc?id=1ZabiKDL24eV4AArPrCmACBz0tas1OY66')
df_time_features = pd.read_csv('https://drive.google.com/uc?id=1Tl7ROJa4FQYageJgdX-zJX3XpnhDkxwt')
df_unsw_nb15_features = pd.read_csv('https://drive.google.com/uc?id=1_a0J2q00N8F4MkQqZB1emGleaQOt2t7M')


df_additional_features.head()
df_basic_features.head()
df_content_features.head()
df_flow_features.head()
df_labels.head()
df_time_features.head()
df_unsw_nb15_features.head()

,No.,Name,Type,Description,feature_type
0,5,proto,nominal,Transaction protocol,flow
1,6,state,nominal,Indicates to the state and its dependent proto...,basic
2,7,dur,Float,Record total duration,basic
3,8,sbytes,Integer,Source to destination transaction bytes,basic
4,9,dbytes,Integer,Destination to source transaction bytes,basic

# 1. Exploratory Data Analysis

Exploratory Data Analysis (EDA) is a crucial step in the data analysis process that involves examining and visualizing data sets to uncover patterns, trends, anomalies, and insights. It is the first step before applying more advanced statistical and machine learning techniques. EDA helps you to gain a deep understanding of the data you are working with, allowing you to make informed decisions and formulate hypotheses for further analysis.

## A. Data Understanding
The objective of this section is for participants to understand the quality of the provided data. This includes:

1. Data Size
2. Statistics of Each Feature
3. Outliers
4. Correlation
5. Distribution

### Step 1

Find the following:

1. The size of the data (instances and features).
2. The data types of each feature.
3. The number of unique values for categorical features.
4. The minimum, maximum, mean, median, and standard deviation values for non-categorical features.
5. Explain the significance of gathering the first four pieces of information.

In [ ]:
# Additional Features


# 1. Ukuran data (instances dan features)
data_size = df_additional_features.shape
# 2. Tipe data setiap fitur
data_types = df_additional_features.dtypes
# 3. Jumlah nilai unik untuk fitur kategorikal
unique_values = df_additional_features.select_dtypes(include='object').nunique()
# 4. Statistik untuk fitur non-kategorikal
stats = df_additional_features.describe().loc[['min', 'max', 'mean', '50%', 'std']]
stats.rename(index={'50%': 'median'}, inplace=True)

# Display content within the box
display(Markdown('### Additional Features'))
display(df_additional_features.head())

display(Markdown('### Data Size'))
display(Markdown(f"`{data_size}`"))  # Display as code for consistent styling

display(Markdown('### Data Types'))
display(Markdown(f"`{data_types.to_string()}`"))  # Convert data types to string for display

display(Markdown('### Unique Values'))
display(Markdown(f"`{unique_values.to_string()}`"))

display(Markdown('### Statistics'))
display(stats)


# Basic Features
# 1. Ukuran data (instances dan features)
data_size = df_basic_features.shape
# 2. Tipe data setiap fitur
data_types = df_basic_features.dtypes
# 3. Jumlah nilai unik untuk fitur kategorikal
unique_values = df_basic_features.select_dtypes(include='object').nunique()
# 4. Statistik untuk fitur non-kategorikal
stats = df_basic_features.describe().loc[['min', 'max', 'mean', '50%', 'std']]
stats.rename(index={'50%': 'median'}, inplace=True)

# Display content within the box
display(Markdown('### Additional Features'))
display(df_basic_features.head())

display(Markdown('### Data Size'))
display(Markdown(f"`{data_size}`"))  # Display as code for consistent styling

display(Markdown('### Data Types'))
display(Markdown(f"`{data_types.to_string()}`"))  # Convert data types to string for display

display(Markdown('### Unique Values'))
display(Markdown(f"`{unique_values.to_string()}`"))

display(Markdown('### Statistics'))
display(stats)



# Content Features

# Flow Features

# Labels

# Time Features

# UNSW_NB15 Features

### Additional Features

,is_sm_ips_ports,ct_state_ttl,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,id
0,0,0,0,0,0,1,1,1,1,1,1,1,1
1,0,1,0,0,0,43,6,1,1,1,1,2,2
2,0,1,0,0,0,7,6,2,2,1,1,3,3
3,0,1,0,1,1,1,1,2,2,1,1,3,4
4,0,1,0,0,0,43,39,2,2,2,1,40,5

### Data Size

`(175341, 13)`

### Data Types

`is_sm_ips_ports     int64
ct_state_ttl        int64
ct_flw_http_mthd    int64
is_ftp_login        int64
ct_ftp_cmd          int64
ct_srv_src          int64
ct_srv_dst          int64
ct_dst_ltm          int64
ct_src_ltm          int64
ct_src_dport_ltm    int64
ct_dst_sport_ltm    int64
ct_dst_src_ltm      int64
id                  int64`

### Unique Values

`Series([], )`

### Statistics

,is_sm_ips_ports,ct_state_ttl,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,id
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,6.000000,30.000000,4.000000,4.000000,63.000000,62.000000,51.000000,60.000000,51.000000,46.000000,65.000000,175341.000000
mean,0.015752,1.304179,0.133066,0.014948,0.014948,9.306437,9.100758,6.193936,6.955789,5.383538,4.206255,8.729881,87671.000000
median,0.000000,1.000000,0.000000,0.000000,0.000000,5.000000,4.000000,2.000000,3.000000,1.000000,1.000000,3.000000,87671.000000
std,0.124516,0.954406,0.701208,0.126048,0.126048,10.704331,10.756952,8.052476,8.321493,8.047104,5.783585,10.956186,50616.731112

### Step 2

Find the following:

1. Missing values for each feature.
2. Outliers for each feature (use the methods you are familiar with).
3. Why is it necessary to identify missing values and outliers?

### Step 3

Find the following:

1. Correlations between features.
2. Visualize the distribution of each feature (categorical and continuous).
3. Visualize the correlation between features and the target variable.
4. Explain the significance of understanding feature distributions and correlations.

In [ ]:
# Write your code here

## B. Data Insights

The objective of this section is for participants to understand how to formulate and get many insights from the given data so that we can improve the model performance. Given example questions:

1. What are the most common protocols (proto) in the dataset, and are certain protocols more associated with specific attack categories?
2. Are there significant differences in the values of network characteristics such as sload, sload, sbytes, and dbytes between attack and normal records?
3. How does TCP-setup-related features vary, such as tcprtt, synack, and ackdat, across normal records and each type of attack records?

### Step 1

Answer the three example questions by visualizing and explaining the insights for each question. Add markdown texts to explain the visualizations.

#### 1. What are the most common protocols (proto) in the dataset, and are certain protocols more associated with specific attack categories?

In [ ]:
# Write your code here

#### 2. Are there any significant differences in the values of network characteristics such as Sload, Dload, sbytes, and dbytes between attack and normal records?

In [ ]:
# Write your code here

#### 3. How does TCP-setup-related features vary, such as tcprtt, synack, and ackdat, across normal records and each type of attack records?

In [ ]:
# Write your code here

### Step 2

Try to formulate five other new questions and answer them with the methods used before.

#### 4. Your first question (replace this heading)

In [ ]:
# Write your code here

#### 5. Your second question (replace this heading)

In [ ]:
# Write your code here

#### 6. Your third question (replace this heading)

In [ ]:
# Write your code here

#### 7. Your fourth question (replace this heading)

In [ ]:
# Write your code here

#### 8. Your fifth question (replace this heading)

In [ ]:
# Write your code here